<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Inicio</h1>
    <a th:href="@{/agregar}">Crear Persona</a>
    <div th:if="${personas != null and !personas.empty}">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefóno</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="persona : ${personas}">
            <td th:text="${persona.nombre}">nombre</td>
            <td th:text="${persona.apellido}">apellido</td>
            <td th:text="${persona.email}">Email</td>
            <td th:text="${persona.telefono}">Telefono</td>
            <td> <a th:href="@{/editar} + ${persona.idPersona}">Editar</a> </td>
            <td> <a th:href="@{/eliminar}">Eliminar</a></td>
        </tr>
    </table>
    </div>
    <div th:if="${personas == null or personas.empty}">
        la lista esta vacía
    </div>
</body>
</html>